{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
        "typescript": {
            "extensions": [
                ".js",
                ".jsx",
                ".ts",
                ".tsx"
              ]
        }
      }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "new-cap": 0,
    "react/no-unused-prop-types": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "class-methods-use-this": 0,
    "linebreak-style": 0,
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": 0,
    "import/extensions": "off",
    "react/prop-types": 0,
    "no-param-reassign": ["error", {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state"
        ]
      }],
    "import/prefer-default-export": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn"
  }
}